<%-include("header");-%>
<div class="list">
  <div class="row">
    <% for(var i=0; i < notesDataList.length; i++) { %>
    <div class="col-sm-3">
      <div class="card">
       <div class="card-body">
         <h5 class="card-title"><%= notesDataList[i].subject%></h5>
         <p class="card-text"><%= notesDataList[i].university%></p>
         <a href="#" class="btn btn-success">خرید</a>
       </div>
     </div>
    </div>
<% } %>
  </div>
</div>


<%-include("footer");-%>
