<%-include("header");-%>
<div class="list">
  <div class="row">
    <% for(var i=0; i < questionsDataList.length; i++) { %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card h-100">
         <div class="card-body">
           <img src="image/notes/PDF_logo.png" class="card-img-top" alt="pdf logo">
           <h5 class="card-title"><%= questionsDataList[i].subject%></h5>
           <p class="card-text"><%= questionsDataList[i].university%></p>
         </div>
         <div class="card-footer">
           <a href="#" class="btn btn-success btn-block">خرید</a>
         </div>
       </div>
      </div>

    </div>
<% } %>
  </div>
</div>


<%-include("footer");-%>
