body{
  background-color: lightgrey;
  text-align: right;
  font-size: 1rem;
}
/* item detail page  */
.addCart{
  margin: 1rem;
  border: 1px solid black;
}
.bottom-bar{
  background-color: #e9ecef;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
}
.item-details{
  margin: 0.5rem;
}
.item-subject{
  font-size:2.5rem;
  margin-bottom: 1rem;
}
.item-lesson{
  font-size:1.5rem;
}
.item-price{
text-align: left;
color: #007ce1;
}
.item-university{
  font-size:1.5rem;
}
.price-number{
margin-left: 1rem;
font-size: 2.75rem;
}
.card{
  margin: 1rem;
}
.card-footer{
  background-color: white;
}
.card-img-top
{
  width: 2rem;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upload{
  text-align: right;
}
.uploadbtn{
  text-align: center;
  width: 7rem;
  height: 3rem;
  margin: 0.5rem 0.1rem;
}
.login-page {
  width: 90%;
  padding: 8% 0 0;
  margin: auto;
}
.login-page-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 90%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page-input {
  outline: 0;
  width: 100%;
  margin: 10px 0 20px;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 0;
  border-width: 0 0 2px;
  border-color: #D3D3D3;
}
.login-page-input:focus{
  border-color: black;
}
.login-page-form-subtitle{
  text-align: right;
  font-size: 15px;
}
.login-page-form-title{
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  margin-top: 3rem;
}

::placeholder{
  letter-spacing: 0.1rem;
}
.login-page-button{
  padding: 0.7rem;
  border: none;
}

.login-page-phonenumber-label{

  position: relative;
  padding-right: 0;
}
.login-page-phonenumber-success{
  color:#28a745;
  border-color: #28a745;
}
.login-page-phonenumber-fail{
  border-color: #dc3545;
  color: #dc3545;
}
.login-label{
  text-align: right;
  font-weight: bold;
}

.list{
  text-align: right;
}


.popup {
  border-radius: 10%;
  margin: 1rem;
  position: relative;
}
.popup .detail {
  visibility: hidden;
  width: 300px;
  height: 200px;
  background-color: #555;
  color: #fff;
  text-align: right;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: auto;
  left: auto;
  margin-left: -300px;
  opacity: 0;
  transition: opacity 0.3s;
}
.popup:hover .detail {
  visibility: visible;
  opacity: 1;
}
.popupImage {
  height: 100px;
}
.verify-handler{
  text-align: right;
}
.verify-page-back-icon{
  margin:1rem;
  font-size: 1.5rem;
  display: block;

}
.verify-page-back-icon:hover{
  width: 1.5rem;
  height: 1.5rem;;
  background-color: white;
  border-radius:50%;
  box-shadow: 0 0 0 0.5rem white;
}

.button-transparent{
  background: transparent;
  border: none;
}
.header-h2-black-rtl{
  margin:1rem;
}
.inline{
  display:inline;
}
.button-greenText-withNoRPadding{
  color: #28a745;
  padding-right: 0;
}
.verify-paragraph{
  text-align: right;
  margin-right: 1rem;
  margin-top: 2rem;
}
.verify-input{
  display: flex;
  position: relative;
  margin-left: 8px;
}

.verify-code-input{
  color: green;
  border: none;
  height: 48px;
  outline: none;
  position: absolute;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 0;
  background-color: transparent;
}
.verify-page-number-container{
  color: green;
    width: 32px;
    height: 48px;
    display: flex;
    position: relative;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    margin-right: 8px;
    justify-content: center;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;

}
.verify-page-input-container{
  display: flex;
  direction: ltr;
  align-items: center;
  justify-content: center;
  background-color:  lightgrey;
}
.verify-page-middle{
    width: 280px;
    margin: 50px auto 0;
}
.header-size1-logo{
  color: green;
  font-size: 10rem;
}
